	/* astro 自带的代码块  在dark模式下样式 */
    [data-theme='dark'] .astro-code,
    [data-theme='dark'] .astro-code span {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
        /* Optional, if you also want font styles  */
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
        text-decoration: var(--shiki-dark-text-decoration) !important;
    }

    .prose {
        max-width: 80ch;
    }
    /*  prose influence blockquote style */
    .prose :where(blockquote p:first-of-type)::before {
        /* content: open-quote; */
        content: '';
    }
    .prose :where(blockquote p:last-of-type)::after {
        /* content: close-quote; */
        content: '';
    }
    .prose > .expressive-code {
        margin-bottom: 2rem;
    }
    html{
        /* 滚动条出现时把body挤向左边, margin-left就让body远离左边一个滚动条的距离 */
         /* 100vw视口宽度包含滚动条, 100%不包含滚动条 */
         /* margin-left: calc(100vw - 100%); */
        margin-right: calc(100% - 100vw);
        overflow-x: hidden; /* 宽度变宽后，会出现横向滚动条 */
        padding-right:calc(100vw - 100%);
    }
    body {
        overflow: auto;
        min-height: 100vh;
    }

    /* rehype-autolink-headings */
    a._heading-anchor {
        display: inline-block;
        width: 1em;
        height: 1em;
        min-width: 32px;
        min-height: 32px;
        vertical-align: bottom;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cpath fill='%23000' d='M24 30.2c0 .2.1.5.1.8c0 1.4-.5 2.6-1.5 3.6l-2 2c-1 1-2.2 1.5-3.6 1.5c-2.8 0-5.1-2.3-5.1-5.1c0-1.4.5-2.6 1.5-3.6l2-2c1-1 2.2-1.5 3.6-1.5c.3 0 .5 0 .8.1l1.5-1.5c-.7-.3-1.5-.4-2.3-.4c-1.9 0-3.6.7-4.9 2l-2 2c-1.3 1.3-2 3-2 4.9c0 3.8 3.1 6.9 6.9 6.9c1.9 0 3.6-.7 4.9-2l2-2c1.3-1.3 2-3 2-4.9c0-.8-.1-1.6-.4-2.3zm9-20.1c-1.9 0-3.6.7-4.9 2l-2 2c-1.3 1.3-2 3-2 4.9c0 .8.1 1.6.4 2.3l1.5-1.5c0-.2-.1-.5-.1-.8c0-1.4.5-2.6 1.5-3.6l2-2c1-1 2.2-1.5 3.6-1.5c2.8 0 5.1 2.3 5.1 5.1c0 1.4-.5 2.6-1.5 3.6l-2 2c-1 1-2.2 1.5-3.6 1.5c-.3 0-.5 0-.8-.1l-1.5 1.5c.7.3 1.5.4 2.3.4c1.9 0 3.6-.7 4.9-2l2-2c1.3-1.3 2-3 2-4.9c0-3.8-3.1-6.9-6.9-6.9'/%3E%3Cpath fill='%23000' d='M20 31c-.3 0-.5-.1-.7-.3c-.4-.4-.4-1 0-1.4l10-10c.4-.4 1-.4 1.4 0s.4 1 0 1.4l-10 10c-.2.2-.4.3-.7.3'/%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        margin-left: 0.5em;
        visibility: hidden;
        color:blue;
    }
    [data-theme='dark'] a._heading-anchor {
        color: burlywood;
    }
    :where(h1, h2, h3, h4, h5, h6):hover a._heading-anchor {
        visibility: inherit;
    }


